.button {
    background: #f7f7f7;

    border: none;
    border-radius: 16px;
    padding: 16px;

    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;

}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button:active {
    transform: translateY(-1px);
}