/*
    Blue-ish color: #13607E
    Pastel light brown: #9E937D
    Dead-rose color: #8C645C
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', Times, serif;
}